name: MLflow CI Workflow

on:
  push:
    branches: [ main ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      # Langkah 1: Download kode dari repository
      - name: 1. Check out code
        uses: actions/checkout@v4

      # Langkah 2: Siapkan environment Conda
      - name: 2. Set up Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          activate-environment: msml_ci_env
          environment-file: MLProject/conda.yaml
          python-version: 3.12

      # Langkah 3: Install MLflow
      - name: 3. Install MLflow
        shell: bash -l {0}
        run: pip install mlflow==2.19.0 joblib

      # Langkah 4: Menjalankan MLflow Project
      - name: 4. Run MLflow Project (Training)
        shell: bash -l {0}
        run: |
          echo "Running MLflow project..."
          cd MLProject
          mlflow run .
          cd ..
          echo "Training complete. Model 'model' folder created."

      # Langkah 5: Commit Model
      - name: 5. Commit Model Artifact
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto: Update trained model"
          file_pattern: "MLProject/model/*"

      # Langkah 6: Login, Build, and Push Docker Image 
      - name: 6. Login, Build, and Push Docker Image
        shell: bash -l {0}
        run: |
          echo "Logging into Docker Hub..."
          # Login manual menggunakan --password-stdin
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
          echo "Login successful."
          
          echo "Building Docker image with MLflow..."
          cd MLProject
          
          # Definisikan nama image LENGKAP
          IMAGE_WITH_TAG="thavn22/msml-model:latest"
          
          # Bangun image
          mlflow models build-docker --model-uri "model" --name "$IMAGE_WITH_TAG"
          echo "Docker image built: $IMAGE_WITH_TAG"
          
          echo "Pushing Docker image to Docker Hub..."
          # Push image
          docker push "$IMAGE_WITH_TAG"
          echo "Docker image pushed successfully."