name: MLflow CI Workflow

on:
  push:
    branches: [ main ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      # Langkah 1: Download kode
      - name: 1. Check out code
        uses: actions/checkout@v4

      # Langkah 2: Siapkan Conda
      - name: 2. Set up Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          activate-environment: msml_ci_env
          environment-file: MLProject/conda.yaml
          python-version: 3.12

      # Langkah 3: Install MLflow
      - name: 3. Install MLflow
        shell: bash -l {0}
        run: pip install mlflow==2.19.0 joblib

      # Langkah 4: Jalankan MLflow Project (Training)
      - name: 4. Run MLflow Project (Training)
        shell: bash -l {0}
        run: |
          echo "Running MLflow project..."
          cd MLProject
          mlflow run .
          cd ..
          echo "Training complete. Model 'model' folder created."

      # Langkah 5: Commit Model ke GitHub
      - name: 5. Commit Model Artifact
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto: Update trained model"
          file_pattern: "MLProject/model/*"

      # Langkah 6: Login ke Docker Hub 
      - name: 6. Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }} 

      # Langkah 7: Build Docker Model 
      - name: 7. Build Docker Model
        shell: bash -l {0}
        run: |
          cd MLProject
          mlflow models build-docker --model-uri "model" --name "msml-model-local"

      # Langkah 8: Tag Docker Image 
      - name: 8. Tag Docker Image
        run: |
          docker tag msml-model-local ${{ secrets.DOCKER_USERNAME }}/msml-model:latest
          
      # Langkah 9: Push Docker Image 
      - name: 9. Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/msml-model:latest