name: MLflow CI Workflow

# Trigger: Workflow berjalan setiap kali ada 'push' ke branch 'main'
on:
  push:
    branches: [ main ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
      # Langkah 1: Download kode dari repository
      - name: 1. Check out code
        uses: actions/checkout@v4

      # Langkah 2: Siapkan environment Conda 
      - name: 2. Set up Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          activate-environment: msml_ci_env 
          environment-file: MLProject/conda.yaml 
          python-version: 3.12

      # Langkah 3: Install MLflow 
      - name: 3. Install MLflow
        shell: bash -l {0}
        run: pip install mlflow==2.19.0 joblib

      # Langkah 4: Menjalankan MLflow Project
      - name: 4. Run MLflow Project (Training)
        shell: bash -l {0}
        run: |
          echo "Running MLflow project..."
          # Kita jalankan dari dalam folder MLProject
          cd MLProject
          mlflow run .
          cd ..
          echo "Training complete. Model 'model.pkl' created."

      # Langkah 5: Commit Model 
      # Simpan model .pkl yang baru dibuat ke repository
      - name: 5. Commit Model Artifact
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto: Update trained model"
          file_pattern: "MLProject/model/*.pkl"

      # Langkah 6: Login ke Docker Hub 
      - name: 6. Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Langkah 7: Build & Push Docker Image 
      - name: 7. Build and Push Docker Image with MLflow
        shell: bash -l {0}
        run: |
          echo "Building Docker image with MLflow..."
          cd MLProject
          mlflow models build-docker --model-uri "model" --image-name "thavn22/msml-model"
          echo "Docker image built."
          
          echo "Pushing Docker image to Docker Hub..."
          docker push "thavn22/msml-model"
          echo "Docker image pushed successfully."